<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Gaole公益活動第二屆收件人資料表單</title>
    <link rel="canonical" href="https://piau0529.github.io/"/>
    <meta property="og:url" content="https://piau0529.github.io/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Gaole"/>
    <meta property="og:title" content="Gaole公益活動第二屆收件人資料表單"/>
    <meta itemprop="name" content="Gaole公益活動第二屆收件人資料表單"/>
    <meta name="description" content="文章大綱"/>
    <meta property="og:description" content="文章大綱"/>
    <meta itemprop="description" content="文章大綱"/>
    <meta itemprop="image" content="https://letswritetw.github.io/letswrite-google-forms-id-data/fb.jpg"/>
    <meta property="og:image" content="https://letswritetw.github.io/letswrite-google-forms-id-data/fb.jpg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content="Gaole公益活動第二屆收件人資料表單""/>
    <link rel="shortcut icon" href=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <link rel="stylesheet" href="dist/style.min.css"/>
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
    </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="container" id="app">
      <div class="double-wrap" :class="{ hide: !loading }">
        <div class="double">
          <div class="double-bounce1"></div>
          <div class="double-bounce2"></div>
        </div>
      </div>
      <section class="kv w-640"><img src="https://picsum.photos/640/360" width="640" height="360" alt="主視覺"/></section>
      <section class="form w-640">
        <div class="text-center">
          <h1>收件人資料，輸入捐款編號後自動帶入其它欄位</h1>
        </div>
        <div class="form-group">
          <label for="main_id">請輸入捐款編號（GENE＋11碼數字）</label>
          <input class="form-control" id="main_id" type="text" v-model="id" @input="limitIdLen(id)"/>
        </div>
        <div class="two-col">
          <div class="col">
            <div class="form-group">
              <label for="email">E-Mail Address</label>
              <input class="form-control" id="email" type="text" v-model="person.email" disabled="disabled"/>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="nick">Gaole社群暱稱</label>
              <input class="form-control" id="nick" type="text" v-model="person.nick" disabled="disabled"/>
            </div>
          </div>
        </div>
        <div class="two-col">
          <div class="col">
            <div class="form-group">
              <label for="msg1">請輸入您身分證上的「真實姓名」</label>
              <input class="form-control" id="msg1" type="text" v-model="person.msg1" :disabled="person.nick == undefined"/>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="msg2">請輸入您的手機號碼</label>
              <input class="form-control" id="msg2" type="number" v-model="person.msg2" :disabled="person.nick == undefined"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="msg3">請輸入您的７—１１取件門市名稱，<a href="https://emap.pcsc.com.tw/ecmap/default.aspx">點擊參閱</a></label>
          <input class="form-control" id="msg3" type="text" v-model="person.msg3" :disabled="person.nick == undefined"/>
        </div>
        <div class="form-group">
          <label for="msg4">請確認上述資料無誤後，輸入「是」後再按「送出」</label>
          <input class="form-control" id="msg4" type="text" v-model="person.msg4" :disabled="person.nick == undefined"/>
        </div>
        <div class="submit"><a href="#" :class="{ disabled: person.nick == undefined }" @click.prevent="submit">送出</a></div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="dist/main.min.js"></script>
  </body>
</html>
